@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  overflow-x: hidden;
}

.mySwiper .swiper-button-prev,
.mySwiper .swiper-button-next {
  background: white;
  color: black;
  width: 42px;
  height: 42px;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.25);
}

.mySwiper .swiper-button-prev:after,
.mySwiper .swiper-button-next:after {
  font-size: 18px;
  font-weight: bold;
}

@layer utilities {
  @keyframes shine {
    0% { background-position: -200% center; }
    100% { background-position: 200% center; }
  }
  .shiny-text {
    background-image: linear-gradient(
      90deg,
      theme('colors.gray.300') 0%,
      theme('colors.white') 50%,
      theme('colors.white') 75%,
      theme('colors.gray.300') 100%
    );
    background-size: 200% auto;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    animation: shine 3s linear infinite;
  }
  .shiny-button-text {
    background-image: linear-gradient(
      90deg,
      theme('colors.gray.500') 0%,
      theme('colors.white') 50%,
      theme('colors.gray.500') 100%
    );
    background-size: 200% auto;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    animation: shine 3s linear infinite;
  }
}
